/* Border Radius */
.cl-br { border-radius: 8px; }
.cl-br-t { border-top-left-radius: 8px; border-top-right-radius: 8px; }
.cl-br-b { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
.cl-br-s { border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
.cl-br-e { border-top-right-radius: 8px; border-bottom-right-radius: 8px; }

.cl-br-0 { border-radius: 0; }
.cl-br-t-0 { border-top-left-radius: 0; border-top-right-radius: 0; }
.cl-br-b-0 { border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.cl-br-s-0 { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.cl-br-e-0 { border-top-right-radius: 0; border-bottom-right-radius: 0; }

.cl-br-xs { border-radius: 2px; }
.cl-br-t-xs { border-top-left-radius: 2px; border-top-right-radius: 2px; }
.cl-br-b-xs { border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; }
.cl-br-s-xs { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.cl-br-e-xs { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }

.cl-br-sm { border-radius: 4px; }
.cl-br-t-sm { border-top-left-radius: 4px; border-top-right-radius: 4px; }
.cl-br-b-sm { border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; }
.cl-br-s-sm { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.cl-br-e-sm { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

.cl-br-md { border-radius: 8px; }
.cl-br-t-md { border-top-left-radius: 8px; border-top-right-radius: 8px; }
.cl-br-b-md { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
.cl-br-s-md { border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
.cl-br-e-md { border-top-right-radius: 8px; border-bottom-right-radius: 8px; }

.cl-br-lg { border-radius: 12px; }
.cl-br-t-lg { border-top-left-radius: 12px; border-top-right-radius: 12px; }
.cl-br-b-lg { border-bottom-left-radius: 12px; border-bottom-right-radius: 12px; }
.cl-br-s-lg { border-top-left-radius: 12px; border-bottom-left-radius: 12px; }
.cl-br-e-lg { border-top-right-radius: 12px; border-bottom-right-radius: 12px; }

.cl-br-xl { border-radius: 16px; }
.cl-br-t-xl { border-top-left-radius: 16px; border-top-right-radius: 16px; }
.cl-br-b-xl { border-bottom-left-radius: 16px; border-bottom-right-radius: 16px; }
.cl-br-s-xl { border-top-left-radius: 16px; border-bottom-left-radius: 16px; }
.cl-br-e-xl { border-top-right-radius: 16px; border-bottom-right-radius: 16px; }

.cl-br-2xl { border-radius: 24px; }
.cl-br-t-2xl { border-top-left-radius: 24px; border-top-right-radius: 24px; }
.cl-br-b-2xl { border-bottom-left-radius: 24px; border-bottom-right-radius: 24px; }
.cl-br-s-2xl { border-top-left-radius: 24px; border-bottom-left-radius: 24px; }
.cl-br-e-2xl { border-top-right-radius: 24px; border-bottom-right-radius: 24px; }

.cl-br-full { border-radius: 9999px; }