$sp0: 0;
$sp1: 0.125rem;
$sp2: 0.25rem;
$sp3: 0.5rem;
$sp4: 0.75rem;
$sp5: 1rem;
$sp6: 1.5rem;
$sp7: 2rem;
$sp8: 2.5rem;
$sp9: 3rem;
$sp10: 4rem;
$sp11: 5rem;
$sp12: 6rem;
$sp13: 10rem;

.cl-m-0 { margin: $sp0; }
.cl-mx-0 { margin-left: $sp0; margin-right: $sp0; }
.cl-my-0 { margin-top: $sp0; margin-bottom: $sp0; }
.cl-ms-0 { margin-left: $sp0; }
.cl-me-0 { margin-right: $sp0; }
.cl-mt-0 { margin-top: $sp0; }
.cl-mb-0 { margin-bottom: $sp0; }

.cl-m-1 { margin: $sp1; }
.cl-mx-1 { margin-left: $sp1; margin-right: $sp1; }
.cl-my-1 { margin-top: $sp1; margin-bottom: $sp1; }
.cl-ms-1 { margin-left: $sp1; }
.cl-me-1 { margin-right: $sp1; }
.cl-mt-1 { margin-top: $sp1; }
.cl-mb-1 { margin-bottom: $sp1; }

.cl-m-2 { margin: $sp2; }
.cl-mx-2 { margin-left: $sp2; margin-right: $sp2; }
.cl-my-2 { margin-top: $sp2; margin-bottom: $sp2; }
.cl-ms-2 { margin-left: $sp2; }
.cl-me-2 { margin-right: $sp2; }
.cl-mt-2 { margin-top: $sp2; }
.cl-mb-2 { margin-bottom: $sp2; }

.cl-m-3 { margin: $sp3; }
.cl-mx-3 { margin-left: $sp3; margin-right: $sp3; }
.cl-my-3 { margin-top: $sp3; margin-bottom: $sp3; }
.cl-ms-3 { margin-left: $sp3; }
.cl-me-3 { margin-right: $sp3; }
.cl-mt-3 { margin-top: $sp3; }
.cl-mb-3 { margin-bottom: $sp3; }

.cl-m-4 { margin: $sp4; }
.cl-mx-4 { margin-left: $sp4; margin-right: $sp4; }
.cl-my-4 { margin-top: $sp4; margin-bottom: $sp4; }
.cl-ms-4 { margin-left: $sp4; }
.cl-me-4 { margin-right: $sp4; }
.cl-mt-4 { margin-top: $sp4; }
.cl-mb-4 { margin-bottom: $sp4; }

.cl-m-5 { margin: $sp5; }
.cl-mx-5 { margin-left: $sp5; margin-right: $sp5; }
.cl-my-5 { margin-top: $sp5; margin-bottom: $sp5; }
.cl-ms-5 { margin-left: $sp5; }
.cl-me-5 { margin-right: $sp5; }
.cl-mt-5 { margin-top: $sp5; }
.cl-mb-5 { margin-bottom: $sp5; }

.cl-m-6 { margin: $sp6; }
.cl-mx-6 { margin-left: $sp6; margin-right: $sp6; }
.cl-my-6 { margin-top: $sp6; margin-bottom: $sp6; }
.cl-ms-6 { margin-left: $sp6; }
.cl-me-6 { margin-right: $sp6; }
.cl-mt-6 { margin-top: $sp6; }
.cl-mb-6 { margin-bottom: $sp6; }

.cl-m-7 { margin: $sp7; }
.cl-mx-7 { margin-left: $sp7; margin-right: $sp7; }
.cl-my-7 { margin-top: $sp7; margin-bottom: $sp7; }
.cl-ms-7 { margin-left: $sp7; }
.cl-me-7 { margin-right: $sp7; }
.cl-mt-7 { margin-top: $sp7; }
.cl-mb-7 { margin-bottom: $sp7; }

.cl-m-8 { margin: $sp8; }
.cl-mx-8 { margin-left: $sp8; margin-right: $sp8; }
.cl-my-8 { margin-top: $sp8; margin-bottom: $sp8; }
.cl-ms-8 { margin-left: $sp8; }
.cl-me-8 { margin-right: $sp8; }
.cl-mt-8 { margin-top: $sp8; }
.cl-mb-8 { margin-bottom: $sp8; }

.cl-m-9 { margin: $sp9; }
.cl-mx-9 { margin-left: $sp9; margin-right: $sp9; }
.cl-my-9 { margin-top: $sp9; margin-bottom: $sp9; }
.cl-ms-9 { margin-left: $sp9; }
.cl-me-9 { margin-right: $sp9; }
.cl-mt-9 { margin-top: $sp9; }
.cl-mb-9 { margin-bottom: $sp9; }

.cl-m-10 { margin: $sp10; }
.cl-mx-10 { margin-left: $sp10; margin-right: $sp10; }
.cl-my-10 { margin-top: $sp10; margin-bottom: $sp10; }
.cl-ms-10 { margin-left: $sp10; }
.cl-me-10 { margin-right: $sp10; }
.cl-mt-10 { margin-top: $sp10; }
.cl-mb-10 { margin-bottom: $sp10; }

.cl-m-11 { margin: $sp11; }
.cl-mx-11 { margin-left: $sp11; margin-right: $sp11; }
.cl-my-11 { margin-top: $sp11; margin-bottom: $sp11; }
.cl-ms-11 { margin-left: $sp11; }
.cl-me-11 { margin-right: $sp11; }
.cl-mt-11 { margin-top: $sp11; }
.cl-mb-11 { margin-bottom: $sp11; }

.cl-m-12 { margin: $sp12; }
.cl-mx-12 { margin-left: $sp12; margin-right: $sp12; }
.cl-my-12 { margin-top: $sp12; margin-bottom: $sp12; }
.cl-ms-12 { margin-left: $sp12; }
.cl-me-12 { margin-right: $sp12; }
.cl-mt-12 { margin-top: $sp12; }
.cl-mb-12 { margin-bottom: $sp12; }

.cl-m-13 { margin: $sp13; }
.cl-mx-13 { margin-left: $sp13; margin-right: $sp13; }
.cl-my-13 { margin-top: $sp13; margin-bottom: $sp13; }
.cl-ms-13 { margin-left: $sp13; }
.cl-me-13 { margin-right: $sp13; }
.cl-mt-13 { margin-top: $sp13; }
.cl-mb-13 { margin-bottom: $sp13; }

.cl-p-0 { padding: $sp0; }
.cl-px-0 { padding-left: $sp0; padding-right: $sp0; }
.cl-py-0 { padding-top: $sp0; padding-bottom: $sp0; }
.cl-ps-0 { padding-left: $sp0; }
.cl-pe-0 { padding-right: $sp0; }
.cl-pt-0 { padding-top: $sp0; }
.cl-pb-0 { padding-bottom: $sp0; }

.cl-p-1 { padding: $sp1; }
.cl-px-1 { padding-left: $sp1; padding-right: $sp1; }
.cl-py-1 { padding-top: $sp1; padding-bottom: $sp1; }
.cl-ps-1 { padding-left: $sp1; }
.cl-pe-1 { padding-right: $sp1; }
.cl-pt-1 { padding-top: $sp1; }
.cl-pb-1 { padding-bottom: $sp1; }

.cl-p-2 { padding: $sp2; }
.cl-px-2 { padding-left: $sp2; padding-right: $sp2; }
.cl-py-2 { padding-top: $sp2; padding-bottom: $sp2; }
.cl-ps-2 { padding-left: $sp2; }
.cl-pe-2 { padding-right: $sp2; }
.cl-pt-2 { padding-top: $sp2; }
.cl-pb-2 { padding-bottom: $sp2; }

.cl-p-3 { padding: $sp3; }
.cl-px-3 { padding-left: $sp3; padding-right: $sp3; }
.cl-py-3 { padding-top: $sp3; padding-bottom: $sp3; }
.cl-ps-3 { padding-left: $sp3; }
.cl-pe-3 { padding-right: $sp3; }
.cl-pt-3 { padding-top: $sp3; }
.cl-pb-3 { padding-bottom: $sp3; }

.cl-p-4 { padding: $sp4; }
.cl-px-4 { padding-left: $sp4; padding-right: $sp4; }
.cl-py-4 { padding-top: $sp4; padding-bottom: $sp4; }
.cl-ps-4 { padding-left: $sp4; }
.cl-pe-4 { padding-right: $sp4; }
.cl-pt-4 { padding-top: $sp4; }
.cl-pb-4 { padding-bottom: $sp4; }

.cl-p-5 { padding: $sp5; }
.cl-px-5 { padding-left: $sp5; padding-right: $sp5; }
.cl-py-5 { padding-top: $sp5; padding-bottom: $sp5; }
.cl-ps-5 { padding-left: $sp5; }
.cl-pe-5 { padding-right: $sp5; }
.cl-pt-5 { padding-top: $sp5; }
.cl-pb-5 { padding-bottom: $sp5; }

.cl-p-6 { padding: $sp6; }
.cl-px-6 { padding-left: $sp6; padding-right: $sp6; }
.cl-py-6 { padding-top: $sp6; padding-bottom: $sp6; }
.cl-ps-6 { padding-left: $sp6; }
.cl-pe-6 { padding-right: $sp6; }
.cl-pt-6 { padding-top: $sp6; }
.cl-pb-6 { padding-bottom: $sp6; }

.cl-p-7 { padding: $sp7; }
.cl-px-7 { padding-left: $sp7; padding-right: $sp7; }
.cl-py-7 { padding-top: $sp7; padding-bottom: $sp7; }
.cl-ps-7 { padding-left: $sp7; }
.cl-pe-7 { padding-right: $sp7; }
.cl-pt-7 { padding-top: $sp7; }
.cl-pb-7 { padding-bottom: $sp7; }

.cl-p-8 { padding: $sp8; }
.cl-px-8 { padding-left: $sp8; padding-right: $sp8; }
.cl-py-8 { padding-top: $sp8; padding-bottom: $sp8; }
.cl-ps-8 { padding-left: $sp8; }
.cl-pe-8 { padding-right: $sp8; }
.cl-pt-8 { padding-top: $sp8; }
.cl-pb-8 { padding-bottom: $sp8; }

.cl-p-9 { padding: $sp9; }
.cl-px-9 { padding-left: $sp9; padding-right: $sp9; }
.cl-py-9 { padding-top: $sp9; padding-bottom: $sp9; }
.cl-ps-9 { padding-left: $sp9; }
.cl-pe-9 { padding-right: $sp9; }
.cl-pt-9 { padding-top: $sp9; }
.cl-pb-9 { padding-bottom: $sp9; }

.cl-p-10 { padding: $sp10; }
.cl-px-10 { padding-left: $sp10; padding-right: $sp10; }
.cl-py-10 { padding-top: $sp10; padding-bottom: $sp10; }
.cl-ps-10 { padding-left: $sp10; }
.cl-pe-10 { padding-right: $sp10; }
.cl-pt-10 { padding-top: $sp10; }
.cl-pb-10 { padding-bottom: $sp10; }

.cl-p-11 { padding: $sp11; }
.cl-px-11 { padding-left: $sp11; padding-right: $sp11; }
.cl-py-11 { padding-top: $sp11; padding-bottom: $sp11; }
.cl-ps-11 { padding-left: $sp11; }
.cl-pe-11 { padding-right: $sp11; }
.cl-pt-11 { padding-top: $sp11; }
.cl-pb-11 { padding-bottom: $sp11; }

.cl-p-12 { padding: $sp12; }
.cl-px-12 { padding-left: $sp12; padding-right: $sp12; }
.cl-py-12 { padding-top: $sp12; padding-bottom: $sp12; }
.cl-ps-12 { padding-left: $sp12; }
.cl-pe-12 { padding-right: $sp12; }
.cl-pt-12 { padding-top: $sp12; }
.cl-pb-12 { padding-bottom: $sp12; }

.cl-p-13 { padding: $sp13; }
.cl-px-13 { padding-left: $sp13; padding-right: $sp13; }
.cl-py-13 { padding-top: $sp13; padding-bottom: $sp13; }
.cl-ps-13 { padding-left: $sp13; }
.cl-pe-13 { padding-right: $sp13; }
.cl-pt-13 { padding-top: $sp13; }
.cl-pb-13 { padding-bottom: $sp13; }



