@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,500&family=Inter:wght@400;500;600;700&display=swap');
@import 'spacing';
@import 'border';
@import 'table';
@import 'forms';
@import 'grid';
/* Use Fonts 
font-family: 'Inter', sans-serif;
font-family: 'DM Mono', monospace;
*/
/* Colors */
$color-title: #15192c;
$color-text: #263238;
$color-text-secondary: #263238;
$color-white: #ffffff;
$color-primary: #d74028;
$color-disabled: #7a92a1;
$color-success: #188737;
$color-warning: #d68502;
$color-danger: #be1b20;
$color-link: #0d4ed0;
$color-link: #0d4ed0;
$color-link-hover: #4c91f7;
$color-link-active: #103981;
$color-link-visited: #2f71e5;

/* Links */
a {
  color: $color-link;
  text-decoration: none;
  &:hover {
    color: $color-link-hover;
  }
  &:active {
    color: $color-link-active;
  }
  &:visited {
    color: $color-link-visited;
  }
}
/* Text colors */
.cl-text-title { color: $color-title; }
.cl-text-text { color: $color-text; }
.cl-text-secondary { color: $color-text-secondary; }
.cl-text-white { color: $color-white; }
.cl-text-primary { color: $color-primary; }
.cl-text-disabled { color: $color-disabled; }
.cl-text-success { color: $color-success; }
.cl-text-warning { color: $color-warning; }
.cl-text-danger { color: $color-danger; }
.cl-text-link { color: $color-link; }
/* Background colors */
.cl-bg-title { background-color: $color-title; }
.cl-bg-text { background-color: $color-text; }
.cl-bg-text-secondary { background-color: $color-text-secondary; }
.cl-bg-white { background-color: $color-white; }
.cl-bg-primary { background-color: $color-primary; }
.cl-bg-disabled { background-color: $color-disabled; }
.cl-bg-success { background-color: $color-success; }
.cl-bg-warning { background-color: $color-warning; }
.cl-bg-danger { background-color: $color-danger; }
.cl-bg-link { background-color: $color-link; }
/* Border colors */
.cl-border-title { border-color: $color-title; }
.cl-border-text { border-color: $color-text; }
.cl-border-text-secondary { border-color: $color-text-secondary; }
.cl-border-white { border-color: $color-white; }
.cl-border-primary { border-color: $color-primary; }
.cl-border-disabled { border-color: $color-disabled; }
.cl-border-success { border-color: $color-success; }
.cl-border-warning { border-color: $color-warning; }
.cl-border-danger { border-color: $color-danger; }
.cl-border-link { border-color: $color-link; }
.cl-border { border: 1px solid $color-text; }


.cl-font-mono {
  font-family: 'DM Mono', monospace !important;
}

body {
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, p {
  text-wrap: balance;
  margin: 0;
  padding: 0;
}
/* Headings */
h1.cl-display {
  font: 700 45px/88px Inter;
  letter-spacing: -.5px;
  color: $color-text;
}
h1 {
  font: 700 35px/48px Inter;
  letter-spacing: 1px;
  color: $color-text;
}
h2 {
  font: 500 31px/48px Inter;
  letter-spacing: -.5px;
  color: $color-text;
}
h3 {
  font: 500 25px/40px Inter;
  letter-spacing: -.5px;
  color: $color-text;
}
h4 {
  font: 500 20px/32px Inter;
  letter-spacing: -.5px;
  color: $color-text;
}
h5 {
  font: 500 16px/24px Inter;
  letter-spacing: -.5px;
  color: $color-text;
}
p {
  font: 400 16px/24px Inter;
  color: $color-text;
}
